/* ============================================================================
 * Copyright Facetime Media AB 2014
 * People:
 * @Kasian Marszalek (facebook.com/cassiusex)
 * Wat is dis, wat is dat >:DDDDDD
============================================================================= */
html {
	overflow: hidden;
}
body {
	padding: 0; 
	margin: 0; 
	font-family: 'Helvetica Neue', 'Helvetica';
	line-height: 1.44; 
}
hr {
	border-top: 1px solid #E7E7E7;
}
a {
	color: rgb(101, 128, 163);
}
a:hover {
	color: rgb(77, 105, 141);
}
img {
	max-width: 100%; 
	height: auto; 
}
h1 {
	font-size: 28px; 
}
h2 {
	font-size: 23px; 
}
h3 {
	
}
h4 {
	
}
h1, h2, h3, h4, h5 {
	margin-top: 10px; 
	margin-bottom: 0.5em; 
}
.uppercase {
	text-transform: uppercase;
}
img.main-logo {
	margin-bottom: 10px; 
}
.emph-blue {
	font-weight: bold; 
	color: #67abc0; 
}
.emph-orange {
	color: #f9761e; 
	font-weight: bold;
}
.floating {
	position: absolute;
	left: 120px; 
	width: 99px; 
	height: 143px; 
	z-index: 400;
	bottom: -110px;	
}
.emph-blue a {
	font-weight: bold;
	color: black; 
}
div.collage-pic {
	padding: 24px; 
	background: #2e2e2e; 
	margin-bottom: 12px; 
	margin-top: 2px; 
}
div.box-bg {
	background-position: top left; 
	background-repeat: no-repeat;
	background-size: cover;
}
div.box-bg-bulldog {
	background-image: url(../img/boss-bg.png);
	padding-left: 30%; 
	padding-bottom: 40px; 
}
div.dark-bg {
	background-color: #333333; 
	padding: 24px; 
	color: white; 
}
div.uploaded-img {
	margin-bottom: 12px; 
}

div.disclaimer-upload {
	margin-top: 80px; 
	font-size: 11px !important; 
	color: #999; 
}
div.disclaimer-upload a {
	color: white; 
	text-decoration: underline;
}
div.disclaimer-upload strong {
	color: white; 
}
ul.share-list {
	list-style: none; 
	padding: 0; 
	margin: 0; 
}
ul.share-list li {
	display: inline-block;
	margin: 0 20px;  
	text-align: center;
}
ul.share-list li a {
	color: #4499b2;
}
ul.share-list li img {
	display: block; 
	margin: 0 auto 6px; 
}

.back-to-index {
	cursor: pointer;
}

.dropzone {
	width: 100%; 
	text-align: center;
	display: block; 
	border-radius: 3px; 
	background-color: #585858; 
	padding: 13px 0;
	margin-bottom: 6px; 
}
.dropzone-disabled {
	opacity: 0.6; 
}

#uploaded-image {
	height: auto; 
	display: inline-block;
	vertical-align: top; 
}
#uploaded-image img, #uploaded-image canvas {
	width: 400px; 
	height: auto; 
}

ul.filter-effects {
	list-style: none; 
	padding: 0; 
	margin: 0; 
	max-width: 60px; 
	margin-left: 6; 
	display: inline-block;
	vertical-align: top;
}
ul.filter-effects li {
	display: inline-block;

	width: 60px; 
	height: 60px; 
	margin-bottom: 8px; 
}
ul.filter-effects li canvas {
	width: 60px; 
	height: 60px; 
}

.btn {
	border-radius: 2px; 
	background: url(../img/btn-overlay.png) no-repeat top center; 
	background-size: 100%; 
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	color: white; 
	font-size: 18px; 
	padding-left: 32px; 
	padding-right: 32px; 
	margin-bottom: 8px; 
}
.btn img {
	width: 44px; 
	padding-right: 24px; 
	margin-right: 32px; 
	padding-top: 16px; 
	padding-bottom: 16px; 
	border-right: 1px solid rgba(0, 0, 0, 0.2); 
	box-shadow: 1px 0 0 rgba(255, 255, 255, 0.3);
}
.function-btn {
	padding-top: 0; 
	padding-bottom: 0; 
	padding-left: 24px; 
}
.btn-orange {
	background-color: #fb751e; 
}
.btn-orange:hover {
	background-color: #f38439; 
	color: white; 
}
.btn-orange:focus {
	color: white; 
}
.btn-lightblue {
	background-color: #67abc0; 
}
.btn-lightblue:hover {
	background-color: #7abcd0; 
	color: white; 
}
.btn-lightblue:focus {
	color: white; 
}
.btn-green {
	background-color: #51a351; 
}
.btn-green:hover {
	background-color: #6ab76a; 
	color: white; 
}
.btn-green:focus {
	color: white; 
}
.btn-green-accept {
	padding-top: 0; 
	padding-bottom: 0; 
}
.btn-green-accept img {
	border-right: 0; 
	border-left: 1px solid rgba(0, 0, 0, 0.2); 
	box-shadow: -1px 0 0 rgba(255, 255, 255, 0.3);
	height: 46px; 
	width: 46px; 
	padding-right: 0; 
	margin-right: 0; 
	margin-left: 32px; 
	padding-left: 32px; 
	padding-top: 14px; 
	padding-bottom: 14px; 	
}

.btn-upload {
	padding: 0;
}
.btn-upload img {
	padding-top: 14px; 
	padding-bottom: 14px; 
	margin-left: -52px; 
}

.hidden {
	display: none; 
}
.center {
	text-align: center;
}
.like-gate {
	display: none; 
}

#file-upload-zone {
	background-color: #454545; 
	box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.5); 
	border-bottom: 1px solid #5e5e5e; 
	margin-left: -22px; 
	margin-right: -22px; 
	margin-bottom: 8px; 
	padding-top: 18px; 
}

#instagram-area {
	background-color: #454545; 
	box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.5); 
	border-bottom: 1px solid #5e5e5e; 
	margin-left: -22px; 
	margin-right: -22px; 
	margin-bottom: 8px; 
}
#instagram-area .btn {
	margin: 0; 
}
.insta-before-search {
	padding: 12px 0; 
}
.insta-search-results {
	display: none; 
}
.insta-search {
	display: inline-block;
	width: auto; 
	height: auto; 
	padding: 8px 12px; 
	vertical-align: top;
}
.insta-results-wrapper {
	overflow: hidden;
	width: 80%; 
	margin: 0 auto; 
}
.arrow-left, .arrow-right {
	height: 22px; 
	width: 11px; 
	position: absolute;
	top: 30px;
	cursor: pointer;
	opacity: 0.8; 
	display: none; 
}
.arrow-left:hover, .arrow-right:hover {
	opacity: 1; 
}
.arrow-left {
	left: 50px;
}
.arrow-right {
	right: 50px; 
}

#insta-results {
	width: 9999px; 
	padding: 12px 0;
	text-align: left;
	position: relative;
	left: -72px; 
}
#insta-results .instapicker-image {
	display: inline-block;
	margin: 0 6px; 
	cursor: pointer;
	-webkit-transition:all 0.2s;
	   -moz-transition:all 0.2s;
	     -o-transition:all 0.2s;
	        transition:all 0.2s;
}
#insta-results .instapicker-image.marked {
	-webkit-transform:scale(0.6);
	   -moz-transform:scale(0.6);
	    -ms-transform:scale(0.6);
	     -o-transform:scale(0.6);
	        transform:scale(0.6);
}
#insta-results .instapicker-image img {
	max-width: 60px; 
	height: auto; 
}
.like-gate-btn { 
	display: none; 	
}

div.disclaimer {
	width: 100%; 
	padding-top: 24px; 
	text-align: center;
}
.text-muted {
	font-size: 11px; 
}
div.disclaimer p.text-muted, .disclaimer-form p.text-muted {
	color: #333; 
	font-size: 10px; 
}
.js-loading {
	display: block;
	padding: 12px 0; 
	margin-bottom: 12px; 
	font-size: 12px; 
	font-weight: 100; 
}
.share-petfie {
	color: #ee5619; 
	font-weight: bold; 
	font-size: 11px; 
	cursor: pointer;
}
.share-petfie:hover {
	text-decoration: underline;
}



.code-popup {
	width: 100%; 
	height: 100%; 
	position: absolute;
	top: 0;
	left: 0; 
	display: none; 
}
.code-popup .dim {
	background-color: #000; 
	opacity: 0.4; 
	position: absolute;
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	z-index: 900; 
}
.code-popup .container-popup {
	z-index: 901; 
	position: absolute;
	top: 160px; 
	width: 580px; 
	left: 50%; 
	margin-left: -290px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
	border-radius: 5px; 
	background-color: white; 
}
.code-popup .container-popup .inner {
	padding: 32px; 
	text-align: center;
}
.text-small {
	font-size: 11px; 
}

/** ===================================
		RIBBON
=====================================*/
.ribbon-wrapper {
	width: 82px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	top: -2px;
	top: 46px;
	right: 6px;
}

.ribbon-wrapper .ribbon {
	font-size: 18px; 
	font-weight: bold; 
	color: white;
	text-align: center;
	-webkit-transform: rotate(45deg);
	-moz-transform:    rotate(45deg);
	-ms-transform:     rotate(45deg);
	-o-transform:      rotate(45deg);
	position: relative;
	padding: 6px 0;
	left: -5px;
	top: 14px;
	width: 120px;
	background-color: #5ab475;
} 

.ribbon-wrapper .ribbon-2 {
	background-color: #e74d0e; 
}

.ribbon-wrapper .ribbon-3 {
	background-color: #936bab; 
}
/* ============================================================================
	SINGLE ENTRY
============================================================================= */
.next-prev {
	width: 100%; 
	padding: 12px 0; 
	color: #59b173; 
	font-weight: bold; 
	font-size: 20px; 
	cursor: pointer;
}
.next-prev .prev {
	float: left; 
}
.next-prev .next {
	float: right;
}
.next-prev .prev:hover, .next-prev .next:hover {
	color: #74c78d; 
	text-decoration: underline;
}
input {
	border-radius: 2px !important;
}
.btn-success {
	padding: 6px 8px; 
	background: #5ab576; 
	font-size: 14px; 
	margin: 0; 
}
.btn-default {
	padding: 6px 8px; 
	background: white; 
	color: #999 !important; 
	font-size: 14px; 
	margin: 0;
	border: 1px solid #ccc !important;
	text-shadow: none;
	font-weight: normal !important; 
}
ul.view-count {
	list-style: none; 
	padding: 0; 
	margin: 0; 
	margin-bottom: 12px; 
	float: left; 
}
ul.view-count li {
	display: inline-block;
	margin-right: 6px; 
}
ul.view-count li.active a {
	color: black; 
}

.small-column {
	padding-left: 0; 
	margin-left: -7px;
}
.small-hr {
	margin-top: 6px; 
	margin-bottom: 6px;
}

.arrow-prev, .arrow-next {
	display: inline-block;
	background: #59b173; 
	color: white; 

	padding: 8px 12px; 
	border-radius: 200px; 
	vertical-align: middle; 
	cursor: pointer;
}

.petfie-entry.entry-single {
	display: inline-block;
	vertical-align: middle; 
	width: 80%; 
	padding: 6px; 
	border: 1px solid #e1e1e2; 
	margin: 12px 24px 24px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05); 
}

.profile {
	text-align: left;
}
.profile img {
	max-width: 40px; 
	height: auto; 
	margin-right: 6px; 
}

.like-field p {
	margin-bottom: 4px; 
}
.like-field .glyphicon {
	color: #4499b2;
}
.right {
	text-align: right;
}
.like-string {
	cursor: pointer;
}
.like-string:hover {
	text-decoration: underline;
}

p.share-petfie {
	margin: 6px 0;
}

.comment-box {
	height: 170px; 
	overflow-y: scroll; 
	overflow-x: hidden;
	margin-bottom: 8px; 
}
.comment {
	padding: 3px; 
	text-align: left;
	background: #4499b2; 
	color: white;
	font-size: 11px; 
	margin-bottom: 4px; 
}
.comment .profile-comment {
	-ms-word-break: break-all;
	     word-break: break-all;

	     word-break: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;
}
.comment .profile-comment a {
	font-weight: bold;
	color: white; 
}



.entry-list {
	text-align: center;
}
.list-entry {
	width: 236px; 
	height: 360px; 
	display: inline-block;
	margin: 0 12px 8px; 
	padding: 6px; 
	border: 1px solid #e1e1e2; 
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05); 
	line-height: 1.2; 
	position: relative;
	vertical-align: top;
}
.list-entry img {
	margin-bottom: 8px; 
	cursor: pointer;
}
.list-entry .profile img {
	width: 32px; 
	margin-bottom: 0; 
}
.list-entry .profile {
	margin-bottom: 8px; 
}
.list-entry .profile a {
	font-weight: bold;
}

/* ============================================================================
	Steps
============================================================================= */
#spaceinvaders {
	width: 100%; 
	height: 100%; 
}

.step {
	position: relative;
	display: none; 
}

.step-start {}

.step-upload-1 {}

.step-upload-2 {}

.step-upload-3 {}

.step-gallery {}

.step-single {}




.small-text {
	font-size: 12px !important; 
	color: black; 
	margin: 12px 0; 
}
.result-header {
	margin-bottom: 0.5em; 
	margin-top: 0; 
}
.img-results {
	margin-bottom: 4px; 
}
.img-result img {
	max-width: 140px; 
	height: auto; 
	border: 2px solid white; 
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.img-result.img-right {
	text-align: right;
}
.img-result.img-left {
	text-align: left;
}
.content-form {
	padding: 32px 0; 
	color: black; 
	background: url(../img/form-bg.jpg) no-repeat top center; 
	background-size: cover; 
	background-color: #e6e6e6; 
}
.content-form strong {
	font-weight: 200; 
}
.left {
	text-align: left;
}
.checkbox {
	font-weight: 200; 
}
.radio input[type="radio"] {
	margin-right: 18px;  
}
label {
	text-align: left;
	font-weight: 200; 
}
.form-group {
	text-align: left;
}

form {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 11px !important; 
}

form input[type="text"] {
	border: 0; 
	box-shadow: none; 
	border-radius: 4px; 
}

button[type="submit"], .btn-form, .btn-default {
	border: 0; 
	box-shadow: none; 
	border-radius: 2px; 
	font-weight: 100; 
	color: white; 
}
form input.error, form textarea.error {
	box-shadow: 0 0 3px red !important;
}
label.error {
	display: none !important; 
}
form textarea {
	resize: vertical;
	border: 0 !important; 
	box-shadow: none !important; 
	border-radius: 4px !important; 
	font-size: 11px; 
}
.modal-dialog {
	padding-top: 380px; 
}
.modal-content {
	box-shadow: none; 
	border-radius: 2px; 
	border: none;
	font-weight: 100 !important; 
}
#share-result {
	font-size: 14px; 
}


body.dontLike .step {
	opacity: 0.1; 
}

.dontLike .like-gate {
	display: block;
	position: absolute;
	z-index: 900; 

	padding: 12px 0;
	text-align: left;
	width: 100%; 
	left: 52px;
	top: 32px; 
}

.dontLike .like-gate p {
	max-width: 540px;
	margin: 0 auto;
}

.dontLike .start-test {
	display: none; 
}

.dontLike img.like-arrow {
	position: absolute;
	top: 20px; 
	right: 20px; 
}



.dontLike .like-gate .like-gate-btn {
	display: block;
	margin: 64px auto 0;
	width: 54px;
	height: 65px;
	padding: 2px;
	overflow: hidden;
}


.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

/** ===================================
		PRELOADER
=====================================*/
.code-preloader {
  margin: 24px auto 24px;
  width: 100px;
  height: 60px;
  display: block;
}
@keyframes wave {
  0%,
  60%,
  100% {
    background: rgba(0, 0, 0, 0.25);
    transform: translateY(0);
    -moz-transform: translateY(0);
  }
  20% {
    background: rgba(0, 0, 0, 0.75);
    transform: translateY(13px);
    -moz-transform: translateY(13px);
  }
  40% {
    background: rgba(0, 0, 0, 0.75);
    transform: translateY(-13px);
    -moz-transform: translateY(-13px);
  }
}
@-webkit-keyframes wave {
  0%,
  60%,
  100% {
    background: rgba(0, 0, 0, 0.25);
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  20% {
    background: rgba(0, 0, 0, 0.75);
    transform: translateY(13px);
    -webkit-transform: translateY(13px);
  }
  40% {
    background: rgba(0, 0, 0, 0.75);
    transform: translateY(-13px);
    -webkit-transform: translateY(-13px);
  }
}
div.code-preloader-spin span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 24px 3px 0;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  animation: wave 2s infinite ease-in-out;
  -moz-animation: wave 2s infinite ease-in-out;
  -webkit-animation: wave 2s infinite ease-in-out;
}
div.code-preloader-spin span:nth-child(1) {
  animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
div.code-preloader-spin span:nth-child(2) {
  animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
div.code-preloader-spin span:nth-child(3) {
  animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
div.code-preloader-spin span:nth-child(4) {
  animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
div.code-preloader-spin span:nth-child(5) {
  animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

@media all and (max-width: 480px) {
	body {
		height: 100%; 
		overflow: hidden; 
	}

	div.content {
		padding: 12px; 
		width: 96%; 
		margin: 0 auto; 
	}
	.img-result img:first-child {
		margin-bottom: 12px; 
	}
	.animate .text-content { 
		padding: 48px 32px 32px; 
		margin: 24px auto 0 !important; 
		background: rgba(0, 0, 0, 0.5); 
		border-radius: 4px; 
	}
	.img-right, .img-left {
		text-align: center;
	}
	.leasing {
		padding: 0 15px;
	}
	#share-result {
		font-size: 12px; 
	}
}